body{
    background: linear-gradient(to right, #000, #999);
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border: 2px dashed #696969 ;
}
#insert{
    margin-bottom: 20px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
/* .input{
    display: flex;
} */
/* #delete{
    padding: 5px;
} */
button{
    padding: 18px;
    margin: 5px;
    font-size: 20px;
}
#equal{
    width: 115px;
}